body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #000;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.heading3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-left: 15px;
}

.optionheading {
  color: #00c888;
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
  margin-left: 15px;
  margin-bottom: 0px;
}
a {
  text-decoration: none;
  outline: none !important;
  color: #00c888; /* lime green 84C318 */
}
a:hover {
  color: #009B3E;
  font-weight: 500;
}

a:focus {
  text-decoration: underline;
}

.wrapper {
  /*background-color: #123123;*/
  display: flex;
}

.halfdiv {
  width: 50%;
  height: 100%;
}

.codeblock {
  background-color: #000;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: auto;
}

.code {
  color: #fff;
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
}

.codeoptions {
  color: #00c888;
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
  margin-left: 15px;
}

.sameline {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.outerlist {
  list-style-type: none;
}

.outerlist li {
  margin: 25px;
}

.nestedList li {
  margin: 3px;
  list-style-type: none;
  color: #00c888;
  font-weight: 500;
}

.nestedList li:hover {
  color: #009B3E;
}

.optiontext {
  margin-top: 5px;
  margin-left: 20px;
}
