
a {
  text-decoration: none;
  outline: none !important;
  color: slateblue;
}
a:hover,
a:focus {
  color: darkslateblue;
}

.wrapper {
  /*background-color: #123123;*/
  display: flex;
}

.halfdiv {
  width: 50%;
}

.codeblock {
  background-color: #000;
  color: #fff;
  font-family: 'Roboto Mono', monospace;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.code {

}
