/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.nestedList button {
  background:none!important;
  color:inherit;
  border:none;
  padding:0!important;
  font: inherit;
  border-bottom:1px solid #444;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.nestedList button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.nestedList button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
